@mixin border($color) {
	border: 1px dashed $color;
}
@mixin clickable() {
	cursor: pointer;
	text-decoration: underline;
}
@mixin borderbox() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin button($bg-color: black, $text-color: white) {
	background-color: $bg-color;
	color: $text-color;
	@include clickable();
	@include flexbox-center(row);
	padding: $gutter/1.5;
	@include clickable();
	border: 2px solid black;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		background-color: lighten($bg-color, 100%);
		color: darken($text-color, 100%);
	}
}
@mixin transition ($transition) {
	-webkit-transition: $transition;  
	-moz-transition:    $transition;
	-ms-transition:     $transition; 
	-o-transition:      $transition;  
}
@mixin transform($string){
	-webkit-transform:   $string;
	-moz-transform: 	 $string;
	-ms-transform: 		 $string;
	-o-transform: 		 $string;
}

/* Calculate fluid ratio based on two dimensions (width/height) */
@mixin fluid-ratio($large-size, $small-size) {
  $width-large: nth($large-size, 1);
  $width-small: nth($small-size, 1);
  $height-large: nth($large-size, 2);
  $height-small: nth($small-size, 2);
  $slope: ($height-large - $height-small) / ($width-large - $width-small);
  $height: $height-small - $width-small * $slope;

  padding-top: $slope * 100%;
  height: $height;

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}