/* breakpoints */
$breakpoint: 640px;

/* base units */
$gutter: 20px;

/* z-index */
$bottom: 0;
$middle: 1;
$top: 10;
$ultimate_top: 100;

/* nav */
$fixed_nav_height: 60px;
$slideout_nav_width: 300px;
$transition_speed: 350ms;

/* footer */
$footer_height: 100px;

/* colors */
$matte_black: #030303;