@import '_all';
@import '_modular-scale'; /* !!! not using modular scale */

$ms-base: 1em;
$ms-ratio: $golden;

/*@font-face {
	font-family: 'Roboto';
	src: url('./fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'RobotoBold';
	src: url('./fonts/roboto/Roboto-Bold.ttf');
}*/

@mixin serif($font) {
	font-family: "ff-tisa-web-pro",Palatino," Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}
.serif {
	font-family: 'Libre Baskerville', serif;
}

.monospace {
	font-family: monospace;
	p {
		font-size: 1.1em;
	}
}
p.monospace {
	font-size: 1.1em;
}

html {font-size: 1em;}

body {
	background-color: white;
	/*font-family: 'Libre Baskerville', serif;*/
	font-family: Roboto, Helvetica, Arial, Sans-Serif;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
}

/*p {margin-bottom: 1.3em;}*/

h1, h2, h3, h4 {
	/*margin: 1.414em 0 0.5em;*/
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

.title {
	padding-top: $gutter;
	padding-bottom: $gutter;
}
h1, h2, h3, h4, p, small, .title {
	&.center {
		text-align: center;
	}
}
.text, .text-container {
	&.center {
		h1, h2, h3, h4, p, small, .title {
			text-align: center;
		}
	}
	&.left {
		h1, h2, h3, h4, p, small, .title {
			text-align: left;
		}
	}
}
.uppercase {
	text-transform: uppercase;
}
.bold {
	/*font-weight: bold;*/
	font-family: 'RobotoBold';
}
.underline {
	text-decoration: underline;
}