/* breakpoints */
/* base units */
/* z-index */
/* nav */
/* footer */
/* colors */
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row; }

/* 640px or smaller */
@media only screen and (max-width: 640px) {
  .flex-row.responsive {
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; } }

.flex-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

/* centering with flex */
.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.Resume .resume-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: 40px; }

.Resume .resume-container .resume-section {
  width: 100%;
  max-width: 90vw;
  margin-bottom: 40px; }

.Resume .resume-container .resume-section#Skills .skill-section {
  width: 100%; }

.Resume .resume-container .resume-section .resume-section-item {
  margin-bottom: 20px; }

.Resume .resume-container .resume-section .resume-section-item:last-child {
  margin-bottom: 0; }

.Resume .resume-container .resume-section .resume-section-item .title.flex-row {
  margin-bottom: 20px; }

.Resume .resume-container .resume-section .resume-section-item .title.flex-row .institution {
  margin-right: 20px; }

.Resume .resume-container .resume-section ul li {
  /*list-style: disc;*/ }

/* 640px or bigger */
@media only screen and (min-width: 640px) {
  .Resume .resume-container .resume-section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    width: 1000px; }
  .Resume .resume-container .resume-section#Skills .resume-section-item {
    margin-right: 20px; }
  .Resume .resume-container .resume-section#Skills .resume-section-item:last-child {
    margin-right: 0; }
  .Resume .resume-container .resume-section#Skills .resume-section-item#Skillset ul {
    margin-right: 20px; }
  .Resume .resume-container .resume-section#Skills .resume-section-item#Skillset ul:last-child {
    margin-right: 0; }
  .Resume .resume-container .resume-section#Skills .resume-section-item#Tools {
    width: 33%; }
  .Resume .resume-container .left-col {
    margin-right: 40px;
    width: 20%; }
  .Resume .resume-container .right-col {
    margin-left: 40px;
    width: 80%; } }

/* 640px or smaller */
@media only screen and (max-width: 640px) {
  .Resume .resume-container .resume-section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .Resume .resume-container .resume-section#Skills .resume-section-item {
    margin-bottom: 20px; }
  .Resume .resume-container .resume-section#Skills .resume-section-item:last-child {
    margin-bottom: 0; }
  .Resume .resume-container .resume-section#Skills .resume-section-item#Skillset ul {
    margin-right: 40px; }
  .Resume .resume-container .resume-section#Skills .resume-section-item .title {
    margin-top: 0; }
  .Resume .resume-container .resume-section .resume-section-item .title {
    margin-top: 0; }
  .Resume .resume-container .resume-section .left-col, .Resume .resume-container .resume-section .right-col {
    width: 100%; } }
