/* animation testing */
.example {
	background-color: red;
}
.example-enter {
	opacity: 0.01;
	@include border(green);
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500000ms ease-in;
	@include border(green);
}

.example-leave {
	opacity: 1;
	@include border(green);
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300000ms ease-in;
	@include border(green);

}
.example-appear {
	opacity: 0.01;
	@include border(green);

}

.example-appear.example-appear-active {
	opacity: 1;
	transition: opacity 5s ease-in;
	@include border(green);

}



@import '../../styles/_all';

$project_tile_size: 200px;

.ProjectList {
	ul.project-list {
		margin-top: $gutter;
		@include flex-wrap(wrap);
		margin-bottom: $gutter;
	}
}
.ProjectListItem {
	@include border(red);
	cursor: pointer;
	background-image: none !important;
/*	
	// box/tile design
	@include flexbox-center(column);
	width: $project_tile_size;
	max-width: 100vw;
	height: $project_tile_size;
	background-size: cover;
	background-position: 50% 50%;
	*/
	.text {
		padding: $gutter/4;
	}
}
.ProjectDetail {
	@include flexbox-center(column);
	.project-detail-cover {
		height: 400px;
		width: 100vw;
		background-size: cover;
		background-position: 50% 50%;
	}
	.text {
		width: 900px;
		max-width: calc(100vw - #{$gutter}*2);
		.list-container {
			margin-right: $gutter*3;
			margin-bottom: $gutter;
			&:last-child {
				margin-right: 0;
			}
			ul {
				list-style: disc;
			}
		}
	}
}

/* 640px or bigger */
@media only screen and (min-width : $breakpoint) {
	.ProjectList {
		ul.project-list {
			@include flexbox-center(row);
		}
	}
	.ProjectListItem {
		margin-right: $gutter/2;
	}
}

/* 640px or smaller */
@media only screen and (max-width : $breakpoint) {
	.ProjectList {
		ul.project-list {
			@include flexbox-center(column);
		}
	}
	.ProjectListItem {
		margin-bottom: $gutter/2;
	}
}