/* ReactCSSTransitionGroup animation test */
.example-enter {
    height: 0px;
}
.example-enter.example-enter-active {
    height: 100px;
    -webkit-transition: height .3s ease;
}
.example-leave.example-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
}



@import '../../styles/_all';

$project_tile_size: 300px;

.ProjectList {
	#PageTitle {
		padding-top: $gutter;
	}
	#Menu {
		@include clickable();
	}
	ul.project-list {
		margin-top: $gutter;
		@include flexbox();
	}
}
.ProjectListItem {
	cursor: pointer;
	&.list-style {
		display: block;
		background-image: none !important;
		height: auto;
		width: auto;
	}
	&.box-style {
		color: white;
		background-color: lightgrey;
		@include border(black);
		@include flexbox-center(column);
		width: 100vw; //$project_tile_size;
		max-width: 100vw;
		height: $project_tile_size;
		background-size: cover;
		background-position: 50% 50%;
		p {font-size: 1.414em;}						// !! make font-size var
	}
	.text {
	}
}
.ProjectDetail {
	@include flexbox-center(column);
	margin-top: $gutter;
	margin-bottom: $gutter*4;
	.project-detail-cover {
		height: 400px;
		width: 100vw;
		background-color: lightgrey;
		background-size: cover;
		background-position: 50% 50%;
	}
	.text {
		width: 900px;
		max-width: calc(100vw - #{$gutter}*2);
		.list-container {
			margin-right: $gutter*3;
			margin-bottom: $gutter;
			&:last-child {
				margin-right: 0;
			}
			ul {
				list-style: disc;
			}
		}
	}
}

/* 640px or bigger */
@media only screen and (min-width : $breakpoint) {
	.ProjectList {
		#Menu {
			/*display: none;*/
		}
		ul.project-list {
			@include flex-flow(row);
			@include flex-wrap(wrap);
			@include justify-content(center);
			li {
				.text {
					p { 
						border-right: 1px solid black; 
						padding: 0 $gutter;
					}
				}
				&:last-child {
					.text {
						p { border-right: none; }
					}
				}
			}
		}
	}
	.ProjectListItem {
		padding: $gutter/4 0;
	}
}

/* 640px or smaller */
@media only screen and (max-width : $breakpoint) {
	.ProjectList {
		#Menu {
			@include clickable();
		}
		ul.project-list {
			@include flexbox-center(column);
		}
	}
	.ProjectListItem {
		&.box-style {
			width: 100vw;
		}
		.text {
			padding: $gutter/4;
		}
	}
}