/* ReactCSSTransitionGroup animation test */
.example-enter {
  height: 0px; }

.example-enter.example-enter-active {
  height: 100px;
  -webkit-transition: height .3s ease; }

.example-leave.example-leave-active {
  height: 0px;
  -webkit-transition: height .3s ease; }

/* breakpoints */
/* base units */
/* z-index */
/* nav */
/* footer */
/* colors */
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row; }

/* 640px or smaller */
@media only screen and (max-width: 640px) {
  .flex-row.responsive {
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; } }

.flex-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

/* centering with flex */
.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.ProjectList #PageTitle {
  padding-top: 20px; }

.ProjectList #Menu {
  cursor: pointer;
  text-decoration: underline; }

.ProjectList ul.project-list {
  margin-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.ProjectListItem {
  cursor: pointer; }
  .ProjectListItem.list-style {
    display: block;
    background-image: none !important;
    height: auto;
    width: auto; }
  .ProjectListItem.box-style {
    color: white;
    background-color: lightgrey;
    border: 1px dashed black;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    width: 100vw;
    max-width: 100vw;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%; }
    .ProjectListItem.box-style p {
      font-size: 1.414em; }

.ProjectDetail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: 20px;
  margin-bottom: 80px; }
  .ProjectDetail .project-detail-cover {
    height: 400px;
    width: 100vw;
    background-color: lightgrey;
    background-size: cover;
    background-position: 50% 50%; }
  .ProjectDetail .text {
    width: 900px;
    max-width: calc(100vw - 20px*2); }
    .ProjectDetail .text .list-container {
      margin-right: 60px;
      margin-bottom: 20px; }
      .ProjectDetail .text .list-container:last-child {
        margin-right: 0; }
      .ProjectDetail .text .list-container ul {
        list-style: disc; }

/* 640px or bigger */
@media only screen and (min-width: 640px) {
  .ProjectList #Menu {
    /*display: none;*/ }
  .ProjectList ul.project-list {
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .ProjectList ul.project-list li .text p {
      border-right: 1px solid black;
      padding: 0 20px; }
    .ProjectList ul.project-list li:last-child .text p {
      border-right: none; }
  .ProjectListItem {
    padding: 5px 0; } }

/* 640px or smaller */
@media only screen and (max-width: 640px) {
  .ProjectList #Menu {
    cursor: pointer;
    text-decoration: underline; }
  .ProjectList ul.project-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .ProjectListItem.box-style {
    width: 100vw; }
  .ProjectListItem .text {
    padding: 5px; } }
