@import './styles/_all';

html {
	height: 100%;
}
.App {
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding: 0;
	.Nav {
		/* CSS on the component level */
	}
	.main-content {
		min-height: calc(100vh - #{$footer_height} - #{$fixed_nav_height});
		margin-top: calc(#{$fixed_nav_height} + #{$gutter});
	}
	.Footer {
		background-color: black;
		color: white;
		padding: 20px;
		text-align: center;
		height: $footer_height;
	}
}