/* breakpoints */
/* base units */
/* nav */
.App {
  border: 1px dashed red;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0; }

.App .Nav {
  /* CSS on the component level */ }

.App .main-content {
  border: 1px dashed green;
  margin-top: 40px;
  padding: 20px; }

.App .Footer {
  background-color: black;
  color: white;
  padding: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center; }
