@import './styles/_all';

.Footer {
	border-top: 2px solid $footer_color;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: $gutter*2;
	color: black;
	padding: 20px;
	text-align: center;
	height: $footer_height;
}